@charset "utf-8";
/* CSS Document */

body{
background:url(../img/bg.gif) repeat-x #fff;
margin:0px;
}


#logo1{
width:886px;
height:287px;
margin-left: auto;
margin-right:auto;
margin-top:70px;
border:6px solid #fff;
}
#menu_bar {
width:898px;
height:60px;

margin-left: auto;
margin-right:auto;
}
#home{
height:70px;
width:70px;
background:url(../img/ITEMS.png) no-repeat;
float:left;
margin-left:73px;
margin-top:10px;
}
.sprite{
width:16px;
height:95px;
background:url(../img/sprite.png) no-repeat;
float:left;
margin-left:13px;
}
#nosotros{
height:68px;
width:70px;
background:url(../img/ITEMS.png) no-repeat;
background-position: 0px -69px;
float:left;
margin-left:35px;
margin-top:10px;
margin-right:10px;
}
#productos{
height:66px;
width:75px;
background:url(../img/ITEMS.png) no-repeat;
background-position: 0px -137px;
float:left;
margin-top:12px;
margin-left:35px;
margin-right:9px;
}
#servicios{
height:70px;
width:65px;
background:url(../img/ITEMS.png) no-repeat;
background-position: 0px -203px;
float:left;
margin-top:8px;
margin-left:33px;
margin-right:15px;
}
#clientes{
height:68px;
width:64px;
background:url(../img/ITEMS.png) no-repeat;
background-position: 0px -273px;
float:left;
margin-top:10px;
margin-left:33px;
margin-right:15px;
}
#contactenos{
height:72px;
width:94px;
background:url(../img/ITEMS.png) no-repeat;
background-position: 0px -341px;
float:left;
margin-top:6px;
margin-left:20px;
}
#cont_load{
width:900px;
height:auto;
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:25px;
clear:both;
}
#bot_bar{
padding-top:15px;
width:100%;
height:116px;
background:url(../img/botton_bar.gif) repeat-x;
clear:both;
}
#cotn_5{
width:226px;
height:281px;
background:url(../img/51651.png) no-repeat;
position:relative;
top:6px;
left:6px;
z-index:4;
}
#logo{
width:274px;
height:58px;
background:url(../img/logo.png) no-repeat;
float:right;
margin:12px;
}
#center_f{
width:750px;
height:100px;

text-align:center;
}
.txt_bot{
color:#FFFFFF;
margin-bottom:10px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-align:center;
}