.travels{background: url(../iconos/favicon.png) no-repeat !important;}
.imagen{background: url(../iconos/Imagesnightscene.png) no-repeat !important;}
.imagen2{background: url(../iconos/Images.png) no-repeat !important;}
.aceptar{background: url(../iconos/AddSquare.png) no-repeat !important;}
.editar{background: url(../iconos/TextEdit.png) no-repeat !important;}
.nuevo{background: url(../iconos/RuledPage.png) no-repeat !important;}
.actualizar{background: url(../iconos/WhiteLego.png) no-repeat !important;}
.guardar{background: url(../iconos/Floppy.png) no-repeat !important;}
.cancelar{background: url(../iconos/CloseSquare.png) no-repeat !important;}
.salir{background: url(../iconos/Door.png) no-repeat !important;}
.activar{background: url(../iconos/Note-Add.png) no-repeat !important;}
.desactivar{background: url(../iconos/Note-Remove.png) no-repeat !important;}
.usuarios{background: url(../iconos/ID.png) no-repeat !important;}
.Counter{background: url(../iconos/Counter.png) no-repeat !important;}
.Envelope{background: url(../iconos/Envelope.png) no-repeat !important;}
.Tag{background: url(../iconos/Tag.png) no-repeat !important;}
.DirectionBoard{background: url(../iconos/DirectionBoard.png) no-repeat !important;}
.Preferences{background: url(../iconos/Preferences.png) no-repeat !important;}
.Sofa{background: url(../iconos/Sofa.png) no-repeat !important;}
.Send{background: url(../iconos/Send.png) no-repeat !important;}
.Newspaper{background: url(../iconos/Newspaper.png) no-repeat !important;}
.ClippedID{background: url(../iconos/ClippedID.png) no-repeat !important;}
.Contacts{background: url(../iconos/Contacts.png) no-repeat !important;}
.otros{background: url(../iconos/otros.png) no-repeat !important;}
.inbox{background: url(../iconos/inbox.png) no-repeat !important;}
.eliminar{background: url(../iconos/Trash.png) no-repeat !important;}
.comentarios{background: url(../iconos/PopcornFull.png) no-repeat !important;}
.enviar{background: url(../iconos/Airmail.png) no-repeat !important;}
.empleo{background: url(../iconos/ClippedID.png) no-repeat !important;}
.buscar{background: url(../iconos/Binocular.png) no-repeat !important;}
.icon_video{background: url(../iconos/video.png) no-repeat !important;}
.icon_monitor{background: url(../iconos/Monitor.png) no-repeat !important;}

.correoss{background: url(../iconos/Mail.png) no-repeat !important;}
.ubicaciones{background: url(../iconos/Home.png) no-repeat !important;}
.telefonos{background: url(../iconos/Contacts-alt.png) no-repeat !important;}
.cuentas{background: url(../iconos/WirelessKeyboard.png) no-repeat !important;}
.lock{background: url(../iconos/Lock.png) no-repeat !important;}
.key{background: url(../iconos/Shortkey.png) no-repeat !important;}
.user_gray{background: url(../iconos/user_gray.png) no-repeat !important;}
.cog_edit{background: url(../iconos/cog_edit.png) no-repeat !important;}
.user_suit{background: url(../iconos/user_suit.png) no-repeat !important;}
.example{background: url(../iconos/example.gif) no-repeat !important;}
.monitor_off{background: url(../iconos/monitor_off.png) no-repeat !important;}
.calculator{background: url(../iconos/calculator.png) no-repeat !important;}
.cmp{background: url(../iconos/cmp.gif) no-repeat !important;}
.comment{background: url(../iconos/comment.gif) no-repeat !important;}
.Spam_Mail{background: url(../iconos/Spam_Mail.png) no-repeat !important;}
.user{background: url(../iconos/user.png) no-repeat !important;}
.imprimir{background: url(../iconos/printer.png) no-repeat !important;}
.calendario{background: url(../iconos/Calendar.png) no-repeat !important;}
